#header {
	background-color: lightgrey;
	padding-top: 1em;
	padding-bottom: 1em;
}

#header a {
	text-decoration: none;
}

.header-text {
	text-align: center;
	color: black;
}

a {
	text-decoration: none;
}

#first-page-paragraph {
	text-align: center;
}

#first-page-col {
	margin-top: 5em;
	padding-left: 20em;
	padding-right: 20em;
}

@media only screen and (max-width: 768px) {
	#first-page-col {
		padding-left:3em;
		padding-right:3em;
	}
}

#button1 {
	background-color: orange;
	color: black;
	font-family: futura; 
	border-color: black;
	box-shadow: 2pt 2pt;
	padding: 2pt 6pt;
	cursor: pointer;
}
#button1:hover {
	background-color: #ffdb9a;
}


#sidebarButton {
	text-align: center;
}

#button2 {
	background-color: lightgrey;
	color: black;
	font-family: futura; 
	border-color: black;
	box-shadow: 2pt 2pt;
	padding: 2pt 6pt;
	cursor: pointer;
}

#sidebar, #sidebar2 {
	border: 1px solid black;
	padding-bottom: 20em;
	padding-top: 1%;
}

@media only screen and (max-width: 768px) {
	#sidebar, #sidebar2 {
		display: block;
		width: 100vw;
		padding-bottom: 2em;
	}
/*	#hamburgerMenu {
		display: block;
	}*/
}

@media only screen and (min-width: 769px) {
	#sidebar, #sidebar2 {
		display: block;
	}
/*	#hamburgerMenu {
		display: none;
	}*/
}

#mydinner {
	margin-left: 2%;
}

#people {
	margin-left: 2%;
	border-bottom-width: 1px;
	border-bottom-color: black;

}

/*#dish-name {
	height: 2em;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: lightgrey;
}*/

@media only screen and (min-width: 1294px) {
	#dish-name {
		height: 2em;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		background-color: lightgrey;
	}
}

#cost {
	text-align: right;
	margin-right: 0px;
}

@media only screen and (max-width: 1293px) {
	#dish-name {
		height: 3em;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		background-color: lightgrey;
	}
}

#price {
	margin-top: 1em;
	text-align: center;
	color: darkred;
}

#dinnerNameChosen {
	margin-top: 1em;
	margin-left: 1em;
	color: darkred;
}

#dinnerNamePriceChosen {
	border: 2px solid black;
	background-color: #DCDCDC;
	margin-top: 0.5em;
	margin-left: 0.5%;
	margin-right: 0.5%;
	color: darkred;
}

#buttonConfirm {
	background-color: orange;
	box-shadow: 2pt 2pt;
	padding: 2pt 6pt;
	border-color: black;
}

#button4 {
	background-color: orange;
	color: black;
	font-family: futura; 
	border-color: black;
	box-shadow: 2pt 2pt;
	padding: 2pt 6pt;
	cursor: pointer;
}

#main-content, #main-content2, #main-content3 {
	border: 1px solid black;
}

#findDish {
	margin-top: 1em;
}

hr {
	border-color: black;
	border-width: 2px;
}

#fMain {
	/*border: 3px solid black;
	margin: auto;
	padding: 0px;*/
	width: 100%;
	height: 100%;
}

/*#imgMeat {
	text-align: center;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}*/

#foodCol, #foodCol2 {
	border: 3px solid black;
	margin: auto;
	padding: 0px;
	cursor: pointer;

}

#foodCol > p, #foodCol2 > p {
	text-align: center;
	background-color: lightgrey;
	margin-bottom: 0px;
	border-top: 3px solid black;
	padding: 0.5em;
}

#foodCol > img, #foodCol2 > img {
	width: 100%;
	max-width: 100%;
}


@media only screen and (max-width: 768px) {
	#foodCol, #foodCol2 {
		margin-bottom: 1em;
	}
}

#headerConfirmDinner {
	border-bottom: 2px solid black;
	padding: 1em;
	padding-left: 3em;
}

#button5 {
	text-align: right;
}

#buttonPrint {
	text-align: center;
}

/* THELMA */

* {
	box-sizing: border-box;
}
.column {
	margin-left: 2%;
	width: 50%;
	padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

#search {
	border: solid;
}

#img-text {
	text-align: justify;
	width: 398px;
}

@media only screen and (max-width: 1000px) {
	#dishDetailPic {
		display: block;

	}
}

#GoBackButton {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  color: black;
  background-color: orange;
  border: double;
  border-color: black;
  margin-left: 2%;
}

.box {
	width: auto;
	height: auto;
	border: 2px solid;
	border-color: black;
	background-color: orange;
	font-size: 12pt;
	font-weight: : bold;
	padding: 1em;
	margin-top: 1em;
	text-align: center;
}

/*#TotIngredients {
	box-align: right;
}*/


#Overview {
	font-size: 12pt;
}

#boxSum {
	font-size: 12pt;
	color: red;
}

#buttonAdd, #buttonAdd1 {
	background-color: yellow;
	color: black;
	font-family: futura; 
	border-color: black;
	box-shadow: 2pt 2pt;
	padding: 2pt 6pt;
	cursor: pointer;

}

@media only screen and (max-width: 768px) {
	#button5, #finalPeople {
		text-align: center;
	}
}

#firstPicLastPage {
	text-align: center;
	width: 200px;
	height: 200px;

}

.fas fa-bars, #hamburgerSymbol {
	float: right;
}


#guestButtons {
	text-align: right;
}

#preperation-title {
	font-size: 16pt;
	font-style: bold;

}

#priceBox {
	background-color: lightgrey; 
}

